<ng-container *ngIf="!hotel"><app-spinner></app-spinner></ng-container>

<div id="content" class="hotel-details" #content  >
  <ng-container *ngIf="hotel">
    
  <div class="hotel-title">
    <h1>{{ hotel.hotelName }}</h1>
    <div class="row">
      <div class="stars">
        <ng-container *ngFor="let item of [].constructor(hotel.stars); let i = index">
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
     </ng-container>
        <span>Likes: {{hotel.likedBy.length}}</span>
      </div>
      <div class="location">
        Location: {{hotel.location}}, {{hotel.address}}
      </div>
    </div>
  </div>
  <div class="image-grid" *ngIf="hotel.imageUrls">
    <img
      class="image-grid-col-2 image-grid-row-2"
      src="{{ hotel.imageUrls[0] }}"
      alt="architecture"
    />
    <ng-container *ngIf="hotel.imageUrls.length > 1">
      <img src="{{ hotel.imageUrls[1] }}" />
    </ng-container>

    <ng-container *ngIf="hotel.imageUrls.length > 2">
      <img src="{{ hotel.imageUrls[2] }}" />
    </ng-container>
    <ng-container *ngIf="hotel.imageUrls.length > 3">
      <img src="{{ hotel.imageUrls[3] }}" />
    </ng-container>
    <ng-container *ngIf="hotel.imageUrls.length > 4">
      <img src="{{ hotel.imageUrls[4] }}" />
    </ng-container>
  </div>
  <div class="small-details">
    <h2>{{hotel.roomType}}</h2>
    <button (click)="exportAsPdf()" type="button" class="userBtns">
      <fa-icon [icon]="faPdf" class="icons-group"></fa-icon>
      Download
  </button>
  <ng-container *ngIf="!liked && !isOwner && userId">
    <button  type="button" class="userBtns" (click)="likeHotel()">
      <fa-icon [icon]="farHeart" class="icons-group"></fa-icon>
      Like
  </button>
</ng-container>
  <ng-container *ngIf="liked && !isOwner && userId">
    <button  type="button" class="userBtns">
      <fa-icon [icon]="faHeart" class="icons-group"></fa-icon>
      Liked
  </button>
  </ng-container>
    <button  type="button" class="userBtns">
      <fa-icon [icon]="faShare" class="icons-group"></fa-icon>
      Share
  </button>
    <h4>${{hotel.price}} / day</h4>
  </div>
  <hr *ngIf="!isOwner" class="line" />
  <form class="check-form" *ngIf="!isOwner">
    <div>
      <label>Check-in</label>
      <input type="text" placeholder="Add Date" />
    </div>
    <div>
      <label>Check-out</label>
      <input type="text" placeholder="Add Date" />
    </div>
    <div class="guest-field">
      <label>Guest</label>
      <input type="text" placeholder="2 guests" />
    </div>
    <button type="button">Reserve</button>
  </form>
  <hr class="line" />
  <div class="details-list">
    <div class="facilities-group">
    <div class="facilities" *ngFor="let facility of  facilitiesDataArray"> 
      <div class="facilities-content">
      <fa-icon [icon]="facility.icon" class="facilities-icon"></fa-icon>
      <div class="facility-title"><span>{{facility.name}}</span></div>
    </div>
    </div>
    </div>
    
  </div>
  
  <p class="description">
    {{hotel.description}}
  </p>
  <hr class="line" />
  <div class="map">
    <h3>Location on Map</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d186125.68115431405!2d27.802481707096558!3d43.20500549043367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4538baaf3d7a1%3A0x5727941c71a58b7c!2z0JLQsNGA0L3QsCwg0JHRitC70LPQsNGA0LjRjw!5e0!3m2!1sbg!2sde!4v1670776635273!5m2!1sbg!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <b>Varna,Bulgaria</b>
    <p>I'ts like a home away from home.</p>
  </div>
  <hr class="line" />
  <div class="host">
    <ng-container *ngIf="hotel.ownerImage">
    <img src="{{hotel.ownerImage}}" alt="" />
  </ng-container>
    <ng-container *ngIf="!hotel.ownerImage">
    <img src="{{defaultImg}}" alt="" />
  </ng-container>
    <div>
      <h2>Hosted By {{hotel.ownerEmail}}</h2>
      <p>
        <span>
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
          <fa-icon [icon]="faStar" class="stars-icon"></fa-icon> </span
        >&nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response Time 60 minutes &nbsp; &nbsp; Posted At: {{hotel.date}}
      </p>
    </div>
  </div>
  <button class="contact-host" *ngIf="!isOwner">Contact Host</button>
  <div class="owner" *ngIf="isOwner">
    <button (click)="onEdit()" type="button">Edit Hotel</button>
    <button (click)=" confirm()" type="button">Delete</button>
    <button type="button">Check Reservations</button>
   </div>
  <hr class="line" />
</ng-container>
</div>
