<div class="profile">
 <div class="card">
     <div class="imgBox">
         <img src="/assets/icons/profile.jpg" alt="">
     </div>
     <div class="content">
         <div class="details">
            <form [formGroup]="editForm" class="inputGroup">
             <label for="username">Username:</label>
             <input type="text" name="username" formControlName="username" class="input-field">
             <label for="email">Email:</label>
             <input type="email" name="email" formControlName="email" class="input-field">
             <button type="button" class="uploadBtn" (click)="filePicker.click()"><img class="upload" src="/assets/icons/upload-solid.svg" alt=""> Upload image</button>
             <input type="file" class="imageInput"  accept="/image" formControlName="image" #filePicker  (change)="onImageUpload($event)">
             <div class="actionBtn">
                 <button>Save</button>
                 <button (click)="onCancel()">Cancel</button>
             </div>
            </form>
         </div>
     </div>
 </div>
 </div>