<ng-container *ngIf="!currentUser">
  <app-spinner></app-spinner>
</ng-container>
<div class="profile">
  <div class="profile-card">
    <div class="profile-card-imgBox" *ngIf="currentUser">
      <ng-container *ngIf="imagePreview">
        <img
          class="profile-card-imgBox-image"
          [src]="imagePreview ? imagePreview : currentUser.userData.imageUrl"
          alt=""
        />
      </ng-container>
      <ng-container *ngIf="!imagePreview">
        <img
          class="profile-card-imgBox-image"
          [src]="
            currentUser.userData.imageUrl
              ? currentUser.userData.imageUrl
              : defaultImg
          "
          alt=""
        />
      </ng-container>
    </div>
    <div class="profile-card-content">
      <div class="profile-card-content-details">
        <form
          [formGroup]="editForm"
          class="profile-card-content-details-inputGroup"
          *ngIf="currentUser"
        >
         <p>Username:</p>
          <input
            type="text"
            name="username"
           
            formControlName="username"
            class="profile-card-content-details-inputGroup-input-field"
          />
         
          <p>Email:</p>
          <input
            type="email"
            name="email"
           
            formControlName="email"
            class="profile-card-content-details-inputGroup-input-field"
          />
          <button
            type="button"
            class="profile-card-content-details-inputGroup-uploadBtn"
            (click)="filePicker.click()"
          >
            <img
              class="profile-card-content-details-inputGroup-uploadBtn-upload"
              src="/assets/icons/upload-solid.svg"
              alt=""
            />
            Upload image
          </button>
          <input
            type="file"
            class="profile-card-content-details-inputGroup-imageInput"
            accept="/image*"
            
            #filePicker
            (change)="onImageUpload($event)"
          />
          <div class="profile-card-content-details-inputGroup-actionBtn">
            <button
              class="profile-card-content-details-inputGroup-actionBtn-buttons"
              (click)="onSubmit()"
            >
              Save
            </button>
            <button
              class="profile-card-content-details-inputGroup-actionBtn-buttons"
              (click)="onCancel()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
