<ng-container *ngIf="!currentUser">
   <app-spinner></app-spinner>
</ng-container>
<div class="profile" *ngIf="currentUser">
<div class="card">
    <div class="imgBox">
        <img src="/assets/icons/profile.jpg" alt="">
    </div>
    <div class="content">
        <div class="details">
            <label for="username">Username:</label>
            <h2>{{currentUser.userData.username}}</h2>
            <label for="email">Email:</label>
            <h1>{{currentUser.userData.email}}</h1>
            <div class="actionBtn">
                <button routerLink="/auth/edit-profile">Edit Profile</button>
                <button>Delete Profile</button>
            </div>
        </div>
    </div>
</div>
</div>