<div class="profile">
<div class="card">
    <div class="imgBox">
        <img src="/assets/icons/profile.jpg" alt="">
    </div>
    <div class="content">
        <div class="details">
            <label for="username">Username:</label>
            <h2>Hasan Hasanov</h2>
            <label for="email">Email:</label>
            <h1>hasanovh14@gmail.com</h1>
            <div class="actionBtn">
                <button>Edit Profile</button>
                <button>Delete Profile</button>
            </div>
        </div>
    </div>
</div>
</div>