<form class="search" [formGroup]="searchForm" >
    <select name="" id="" class="search-button" formControlName="location">
     <option disabled value="null">City</option>
     <option *ngFor="let item of cities" [value]="item.name">
         {{ item.name }}
     </option>
    </select>
     <span class="search-divider"></span>
     <select name="" id="" class="search-button" formControlName="stars">
       <option disabled value="null">Stars</option>
                       <option [value]="1">1</option>
                       <option [value]="2">2</option>
                       <option [value]="3">3</option>
                       <option [value]="4">4</option>
                       <option [value]="5">5</option>
     </select>
     <span class="search-divider"></span>
     <input type="number" class="search-button-guests price" placeholder="price" formControlName="price">

       <button class="search-button-guests-icon" (click)="onSearch()">
         <img class="search-button-guests-icon-icon" src="/assets/icons/searchIcon.svg" alt="Search Icon" />
       </button>
     
     </form>