.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header>h2 {
    margin: 0;
}

.confirm{
    background-color: #d9534f;
    color:white;
}