$pink: #ff385c;
$blue_bg: #241a71;
.login {
  width: 380px;
  height: 480px;
  margin: 6% auto;
  background: #fff;
  opacity: 0.8;
  padding: 5px;
  justify-content: center;
  align-items: center;

  &-heading {
    margin-left: 150px;
    &-h3{
      font-size:24px;
    }
  }

  &-social-icons {
    margin: 30px auto;
    text-align: center;

    &-image {
      height: 30px;
      margin: 0 12px;
      box-shadow: 0 0 20px 0 #7f7f7f3d;
      cursor: pointer;
      border-radius: 50%;
    }
  }
  &-inputGroup {
    top: 180px;
    width: 280px;
    transition: 0.5s;
    margin-left: 40px;
    // display: flex;
    justify-content: center;
    align-items: center;

    &-input-field {
      position: relative;
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
      z-index:0;
    }
    &-showPassword{
        height: 16px;
        isolation: isolate;
        float: right;
        margin-top: -30px;
        cursor:pointer;
        z-index:1;
    }
    &-check-box {
      margin: 30px 10px 30px 0;
    }
    &-error-block {
      color: red;
      font-size: 12px;
      bottom: 68px;
    }
    &-submit-btn {
      font-size: 15px;
      width: 85%;
      padding: 15px 20px;
      cursor: pointer;
      color:white;
      display: block;
      margin: auto;
      top:10px;
      background: $pink;
      border: 0;
      outline: none;
      border-radius: 30px;
    }
    &-submit-btn:hover{
      background-color: $blue_bg;
    }
  }
  &-signup{
    margin-left:65px;
    margin-top:60px;
    &-click{
      cursor: pointer;
      color: $blue_bg;
    }
  }
}
