<div class="login">
  <div class="login-heading">
    <h3 class="login-heading-h3">Sign In</h3>
  </div>
  <div class="login-social-icons">
    <img class="login-social-icons-image" src="/assets/icons/facebook.svg" alt="" />
    <img class="login-social-icons-image" src="/assets/icons/instagram.svg" alt="" />
    <img class="login-social-icons-image" src="/assets/icons/youtube.svg" alt="" />
  </div>
  <form [formGroup]="loginForm" class="login-inputGroup">
    <input
      formControlName="email"
      type="text"
      class="login-inputGroup-input-field"
      placeholder="Enter Your email"
      required
    />
    <span
      class="login-inputGroup-error-block"
      *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
      >Please Enter a Valid Email</span
    >

    <input
      formControlName="password"
      [type]="showPassword ? 'text' : 'password'"
      class="login-inputGroup-input-field"
      placeholder="Enter Your Password"
      required
    />
    <img (click)="toggleShow()" class="login-inputGroup-showPassword" src="/assets/icons/eye-solid.svg" *ngIf="!showPassword" alt="">
    <img (click)="toggleShow()" class="login-inputGroup-showPassword" src="/assets/icons/eye-slash-solid.svg" *ngIf="showPassword" alt="">

    <input type="checkbox" class="login-inputGroup-check-box" /><span
      >Remember password</span
    >
   
    <button
      type="button"
      class="login-inputGroup-submit-btn"
      (click)="onLogin()"
      [disabled]="loginForm.invalid && loading"
    >
      Sign In
    </button>
  </form>
  <p class="login-signup">Don't have an account? <span class="login-signup-click" (click)="openDialogRegister()">Sign up!</span> </p>
</div>
