<div class="login">
  <div class="login-heading">
    <h3 class="login-heading-h3">Sign In</h3>
  </div>
  <div class="login-social-icons">
    <img class="login-social-icons-image" src="/assets/icons/facebook.svg" alt="" />
    <img class="login-social-icons-image" src="/assets/icons/instagram.svg" alt="" />
    <img class="login-social-icons-image" src="/assets/icons/youtube.svg" alt="" />
  </div>
  <form [formGroup]="loginForm" class="login-inputGroup">
    <input formControlName="email" type="text" class="login-inputGroup-input-field" placeholder="Enter Your email"
      autocomplete="on" required />
    <ng-container *ngIf="loginForm.get('email')?.touched">
      <div class="error-block" *ngIf="loginForm.get('email')?.errors?.['required']">
        Email is required
      </div>
      <div class="error-block" *ngIf="loginForm.get('email')?.errors?.['email']">
        Invalid Email
      </div>
    </ng-container>

    <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="login-inputGroup-input-field"
      autocomplete="on" placeholder="Enter Your Password" required />
    <ng-container *ngIf="loginForm.get('password')?.touched">
      <div class="error-block" *ngIf="loginForm.get('password')?.errors?.['required']">
        Password is required
      </div>
      <div class="error-block" *ngIf="loginForm.get('password')?.errors?.['minlength']">
        Password should be at least 6 characters long
      </div>
    </ng-container>
    <img (click)="toggleShow()" class="login-inputGroup-showPassword" src="/assets/icons/eye-solid.svg"
      *ngIf="!showPassword" alt="" />
    <img (click)="toggleShow()" class="login-inputGroup-showPassword" src="/assets/icons/eye-slash-solid.svg"
      *ngIf="showPassword" alt="" />

    <input type="checkbox" class="login-inputGroup-check-box" /><span>Remember password</span>

    <button type="button" class="login-inputGroup-submit-btn" (click)="onLogin()" [disabled]="loginForm.invalid">
      Sign In
    </button>
  </form>
  <p class="login-signin">
    Don't have an account?
    <span class="login-signin-click" (click)="openDialogRegister()">Sign up!</span>
  </p>
  <ng-container *ngIf="!!errorMessage">
    <p class="login-errorMessage" *ngIf="isErrorType">{{ errorMessage }}</p>
    <p class="login-errorMessage" *ngIf="!isErrorType">{{ errorMessage }}</p>
  </ng-container>
</div>