<header appStickyMenu class="header">
  <nav class="nav">
    <div class="nav-menu">
      <div class="nav-menu-logo">
        <a class="nav-menu-logo-link" routerLink="/">Hotel <span class="nav-menu-logo-title">Booking</span></a>
      </div>
      <ul class="nav-menu-links">
        <li class="nav-menu-links-items">Room</li>
        <li class="nav-menu-links-items">Flight</li>
        <li class="nav-menu-links-items">Today's Deal</li>
      </ul>
    </div>
    <div class="search">
      <button class="search-button">Anywhere</button>
      <span class="search-divider"></span>
      <button class="search-button">Any week</button>
      <span class="search-divider"></span>
      <button class="search-button-guests">
        Add guests
        <div class="search-button-guests-icon">
          <img class="search-button-guests-icon-icon" src="/assets/icons/searchIcon.svg" alt="Search Icon" />
        </div>
      </button>
    </div>
    <div class="right-menu">
      <a href="" class="right-menu-menu" *ngIf="userLoggedIn">Become a host</a>
      <button class="right-menu-mode">
        <mat-slide-toggle>Light Mode</mat-slide-toggle>
      </button>

      <div class="right-menu-icons" appDropdown>
        <img class="right-menu-icons-dropdown" src="/assets/icons/hamburger.svg" alt="Hamburger" />

        <div class="right-menu-icons-imgBox" *ngIf="userLoggedIn && currentUser">
          <ng-container *ngIf="currentUser.userData.imageUrl">
            <img class="right-menu-icons-user" src="{{ currentUser.userData.imageUrl }}" />
          </ng-container>
          <ng-container *ngIf="!currentUser.userData.imageUrl">
            <img class="right-menu-default" src="{{ defaultImg }}" />
          </ng-container>
        </div>
        <ng-container *ngIf="!currentUser">
          <img class="right-menu-default" src="{{ defaultImg }}" />
        </ng-container>

        <ul class="dropdown-menu">
          <ng-container *ngIf="!userLoggedIn">
            <li class="dropdown-item" (click)="openDialogRegister()" style="font-weight: 600">
              Register
            </li>
            <span class="divider"></span>
            <li class="dropdown-item" (click)="openDialogLogin()">Login</li>
          </ng-container>
          <ng-container *ngIf="userLoggedIn && currentUser">
            <p class="dropdown-item">{{ currentUser.userData.email }}</p>
            <span class="divider"></span>
            <li routerLink="/auth/profile" class="dropdown-item" *ngIf="userLoggedIn">
              Profile
            </li>

            <li class="dropdown-item" *ngIf="userLoggedIn" (click)="onLogout()">
              Logout
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>