.check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}

.check-form label {
    display: block;
}
.check-form div {
    padding: 20px;
}

.check-form input {
    background: transparent;
    border:0;
    outline: none;

}
.check-form button {
    background-color: #ff5361 ;
    border: 0;
    outline: none;
    color: #fff;
    padding: 15px;
    width: 100px;
    border-radius: 8px;
    font-size: 16px;

}
.guest-field {
    flex: 1;
}