$pink: #ff385c;
$blue_bg: #241a71;
$grey-med: #ddd;

.register {
  width: 380px;
  height: 600px;
  margin: 6% auto;
  background: #fff;
  opacity: 0.8;
  padding: 5px;

  &-heading {
    margin-left: 150px;
  }
  &-social-icons {
    margin: 30px auto;
    text-align: center;

    &-image {
      width: 30px;
      margin: 0 12px;
      box-shadow: 0 0 20px 0 #7f7f7f3d;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  &-inputGroup {
    top: 180px;
    width: 280px;
    transition: 0.5s;
    margin-left: 40px;
    &-input-field {
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
    }

    &-check-box {
      margin: 30px 10px 30px 0;
    }
    &-submit-btn {
      font-size: 15px;
      width: 85%;
      padding: 15px 20px;
      cursor: pointer;
      color: white;
      display: block;
      margin: auto;
      top: 10px;
      background: $pink;
      border: 0;
      outline: none;
      border-radius: 30px;
    }
  }

  &-signin {
    margin-left: 75px;
    margin-top: 30px;
    &-click {
      cursor: pointer;
      color: $blue_bg;
    }
  }
  &-errorMessage {
    margin-top: 50px;
    border: 1px solid $grey-med;
    align-items: center;
    color: $pink;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  }
}

.error-block {
  font-size: 12px;
  color: red;
}

.loader {
  display: flex;
  justify-content: center;

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  height: 20px;
  stroke: #000000;
}
}
