<ng-container *ngIf="!isLoading">
<div class="container">
  
  <ng-container *ngIf="hotels.length > 0">
  <div class="container-heading" >
    <h5 class="container-heading-title">BEST HOTELS </h5>
    <h3>Our Best Deals</h3>
  </div>
</ng-container>
<ng-container *ngIf="hotels.length === 0">
  <div class="container-heading" >
    <h5 class="container-heading-title">There are no hotels to show! </h5>
  </div>
</ng-container>
  

  <div class="container-card">
    <div class="container-card-content" *ngFor="let hotel of hotels">     
      <div class="container-card-content-left">
        <img class="container-card-content-left-image" src="{{hotel.imageUrls[0]}}" alt="">
      </div>
      <div class="container-card-content-right">
        <h2>{{hotel.hotelName}}</h2>
        <div class="container-card-content-right-icons">
          <fa-icon [icon]="faStar" class="container-card-content-right-icons-star"></fa-icon>
          <fa-icon [icon]="faStar" class="container-card-content-right-icons-star"></fa-icon>
          <fa-icon [icon]="faStar" class="container-card-content-right-icons-star"></fa-icon>
          <fa-icon [icon]="faStar" class="container-card-content-right-icons-star"></fa-icon>
          <fa-icon [icon]="faStar" class="container-card-content-right-icons-star"></fa-icon>
        </div>
        <h4 class="container-card-content-right-h4">{{hotel.roomType}}</h4>
        <p class="container-card-content-right-description"> {{hotel.description}}</p>
        <p>From ${{hotel.price}}/night</p>
        <button class="container-card-content-right-detailsBtn">
          <span>View more</span>
        </button>
      </div>
    </div>
  

   
  </div>

</div>

</ng-container>
<ng-container *ngIf="isLoading"><app-spinner></app-spinner></ng-container>
