<div class="card-container" *ngIf="hotels">
    <ng-container *ngIf="hotels.length === 0">
        <h2>There are no liked hotels!</h2>
    </ng-container>
<div class="container">
    <div class="card" *ngFor="let hotel of hotels">
       
      <div class="card-header">
        <img src="{{hotel.imageUrls[0]}}" alt="rover" />
      </div>
      <div class="card-body">
        <div class="stars">
        <ng-container *ngFor="let item of [].constructor(hotel.stars); let i = index">
            <fa-icon [icon]="faStar" class="stars-icon"></fa-icon>
       </ng-container>
    </div>  
        <h4 class="title">
          {{hotel.hotelName}}
        </h4>
        <button class="detailsBtn" type="button" [routerLink]="'/hotels/details/' + hotel._id">Details</button>
        <div class="user">
          <ng-container *ngIf="hotel.ownerImage">

              <img src="{{hotel.ownerImage}}" alt="user" />
          </ng-container>
          <ng-container *ngIf="!hotel.ownerImage">
            <img src="{{defaultImg}}" alt="user" />
          </ng-container>
          <div class="user-info">
            <h5>{{hotel.ownerEmail}}</h5>
            <small>{{hotel.date}}</small>
          </div>
        </div>
      </div>
    </div>
   
</div>
